<div style="display: flex; flex-direction: column; max-width: 30rem;">

  <mat-form-field *ngIf="films | async as films">
    <mat-label>{{ films.loading ? 'Loading...' : 'Select film' }}</mat-label>
    <mat-select [formControl]="filmControl">
      <mat-option *ngFor="let film of films.data" [value]="film.url">
        {{film.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="characters | async as characters">
    <mat-label>{{ characters.loading ? 'Loading...' : 'Select character'}}</mat-label>
    <mat-select [formControl]="characterControl">
      <mat-option *ngFor="let character of characters.data" [value]="character.url">
        {{character.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p>Selected film: {{(selectedFilm | async)?.title || 'nothing'}}</p>

  <p>Selected character: {{(selectedCharacter | async)?.name || 'nothing'}}</p>

</div>
